In [1]:
studinfo = ("Jay",19,"A Grade")
print(f"Name: {studinfo[0]}")
print(f"Age: {studinfo[1]}")
print(f"Grade: {studinfo[2]}")

Name: Jay
Age: 19
Grade: A Grade

In [11]:
gro_itm = [("Rice",90), ("Milk",50), ("Eggs",60), ("Bread",45), ("Butter",120)]
totalcost = sum(itm[1] for itm in gro_itm)
print("Grocery List: ")
for itm,price in gro_itm:
    print(f"{itm}: ₹{price}")
print(f"\nTotal Cost: ₹{totalcost}")

Grocery List:
Rice: ₹90
Milk: ₹50
Eggs: ₹60
Bread: ₹45
Butter: ₹120

Total Cost: ₹365

In [13]:
itm = ("Milk", "Eggs", "Bread")
prices = (25,50,20)
itm_price = tuple(zip(itm,prices))
print(itm_price)

(('Milk', 25), ('Eggs', 50), ('Bread', 20))

In [27]:
trn_sch = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Doronto", "17:00"))
print("Train Schedule: ")
for trn,time in trn_sch:
    print(f"{trn} departs at {time}")

Train Schedule:
Rajdhani departs at 10:00
Shatabdi departs at 12:30
Doronto departs at 17:00

In [31]:
empl = [("John", "40000"), ("Alice", "55000"), ("Raj", "30000")]
sortd_empl = sorted(empl, key = lambda x: int(x[1]))
print("Employees sorted by salary:")
for empl in sortd_empl:
    print(empl)

Employees sorted by salary:
('Raj', '30000')
('John', '40000')
('Alice', '55000')

In [35]:
stud_mrk = (67,88,92,74,76,55)
cnt_above_75 = sum(1 for mrk in stud_mrk if mrk > 75)
print(f"Number of students who scored above 75: {cnt_above_75}")

Number of students who scored above 75: 3

In [37]:
stock_prices = (154.5, 160.2, 149.8, 170.1)
max_price_tuple = (max(stock_prices))
print("Stock Prices:", stock_prices)
print("Maximum Stock Price as Tuple:", max_price_tuple)

Stock Prices: (154.5, 160.2, 149.8, 170.1)
Maximum Stock Price as Tuple: 170.1

In [39]:
temp_read = (29.5, 30.0, 32.2, 31.5, 28.9)
avg_temp = sum(temp_read)/ len(temp_read)
result = (temp_read, avg_temp)
print("Temperature Readings: ", result[0])
print("Average Temperature: ", result[1])

Temperature Readings:  (29.5, 30.0, 32.2, 31.5, 28.9)
Average Temperature:  30.419999999999998

In [47]:
appoint_time = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
print ("Scheduled Appointments: ")
for appoint,time in appoint_time:
    print(f"{appoint}: {time}")

Scheduled Appointments:
Doctor: 10:00 AM
Meeting: 2:00 PM

In [49]:
cont = [("Anil", "9876543210"), ("Priya", "9123456780")]
for contact in cont:
    print("Name:", contact[0], "| Phone Number:", contact[1])

Name: Anil | Phone Number: 9876543210
Name: Priya | Phone Number: 9123456780

In [57]:
exam_schedule = (("Math", "9:00 AM"),("Science", "11:30 AM"),("English", "2:00 PM"))
print("Exam Schedule: ")
for sub,time in exam_schedule:
    print(f"Subject: {sub} , Time: {time}")

Exam Schedule:
Subject: Math , Time: 9:00 AM
Subject: Science , Time: 11:30 AM
Subject: English , Time: 2:00 PM